{
  "extends": [
    "eslint:recommended", "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 1,
    "quotes": [2, "single"],
     "max-len": [1, 80, 2, {ignoreComments: true}],
     "semi": ["error", "always"],
     "semi-style": ["error", "last"],
     "semi-spacing": ["error", {"before": false, "after": true}],
     "comma-dangle": ["error", "always-multiline"]
  }
}
